body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #fffaf3;
    color: #3b2f2f;
}

.navigation-bar {
    background-color: #3b2f2f;
    padding: 15px 30px;
}

.navigation-menu a {
    color: #fffaf3;
    text-decoration: none;
    margin-right: 25px;
    font-size: 18px;
}

.navigation-menu a:hover {
    text-decoration: underline;
}

.admin-section {
    width: 90%;
    margin: 60px auto;
    text-align: center;
}

.admin-title {
    font-size: 42px;
    margin-bottom: 10px;
}

.admin-description {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.6;
}

.admin-list {
    text-align: left;
}

.admin-card {
    width: 30%;
    background-color: #f5f1ea;
    margin: 1.5%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 15px;
}

.admin-card img {
    padding-top: 20px;
    width: 50%;
    height: 250px;
    object-fit: cover;
}


.admin-card h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.admin-card p {
    margin: 0;
    font-size: 15px;
}

.page-footer {
    clear: both;
    background-color: #3b2f2f;
    color: #fffaf3;
    text-align: center;
    padding: 1px;
    font-size: 14px;
}
