body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #fffaf3;
    color: #3b2f2f;
}

.navigation-bar {
    background-color: #3b2f2f;
    padding: 15px 30px;
}

.navigation-menu a {
    color: #fffaf3;
    text-decoration: none;
    margin-right: 25px;
    font-size: 18px;
}

.navigation-menu a:hover {
    text-decoration: underline;
}

.menu-section {
    width: 90%;
    margin: 60px auto;
    text-align: center;
}

.menu-title {
    font-size: 42px;
    margin-bottom: 10px;
}

.menu-description {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.6;
}



.menu-list {
    text-align: left;
}

.menu-item {
    width: 46%;
    background-color: #f5f1ea;
    margin: 2%;
    float: left;
    box-sizing: border-box;
}

.menu-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.item-name {
    font-size: 20px;
    margin: 10px;
}

.item-description {
    font-size: 15px;
    line-height: 1.5;
    margin: 0 10px 12px;
}

.page-footer {
    clear: both;
    background-color: #3b2f2f;
    color: #fffaf3;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
